form.login-form {
  margin-top: 30%;
  padding: 20px;
  border: #8b8b8b 1px solid;
  border-radius: 10px;
}
form.login-form .form-group {
  margin-bottom: 10px;
}

.registration-container {
  margin-top: 10%;
  padding: 20px;
  border: #8b8b8b 1px solid;
  border-radius: 10px;
}
.registration-container form.registration-form {
  margin-top: 20px;
}
.registration-container form.registration-form .form-group {
  margin-bottom: 10px;
}
.registration-container form.registration-form label span#user_available {
  color: red;
}
.registration-container span.req {
  color: red;
  font-weight: bold;
}
.registration-container form#form-clinic button {
  margin-top: 10px;
  width: 100%;
}

.main-container {
  padding-top: 8vh !important;
}
.main-container .list-table {
  padding-top: 20px !important;
}
.main-container #admin-side-nav {
  background-color: #e4e4e4 !important;
  height: 92vh !important;
  padding: 0 5px 0 5px;
}
.main-container .nav-link {
  font-weight: bold;
  margin: 5px;
}
.main-container .nav-link:hover {
  background-color: #001347;
  color: #fff !important;
}
.main-container .dropdown-nav {
  cursor: pointer;
}
.main-container #clinics-collapse li,
.main-container #clients-collapse li {
  padding: 5px;
}
.main-container #clinics-collapse li a,
.main-container #clients-collapse li a {
  margin-left: 30px;
  cursor: pointer;
  padding: 5px 10px 5px 10px;
}
.main-container #clinics-collapse li a:hover,
.main-container #clients-collapse li a:hover {
  background-color: #00258a;
  color: #fff !important;
  font-weight: bold;
}

nav#main-nav-bar div.container-fluid div#navbarNavDropdown ul.navbar-nav {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-around !important;
}
nav#main-nav-bar div.container-fluid div#navbarNavDropdown ul.navbar-nav a {
  color: red !important;
}

form.create-appointment-form {
  border: #8b8b8b solid 1px;
  padding: 10px;
}
form.create-appointment-form h1 {
  text-align: center;
}
form.create-appointment-form .form-group {
  margin-bottom: 10px;
}
form.create-appointment-form .form-group label {
  font-weight: bold;
}
form.create-appointment-form .form-group .form-check label {
  font-weight: normal;
}
form.create-appointment-form input[type=submit] {
  width: 100% !important;
}
form.create-appointment-form div#appointmentsAccordion * {
  color: red !important;
}
