form.login-form {
  margin-top: 5%;
  padding: 20px;
  border: #8b8b8b 1px solid;
  border-radius: 10px;
}
form.login-form .form-group {
  margin-bottom: 10px;
}
form.login-form img {
  width: 80%;
  border: 1px #cdcdcd solid;
  border-radius: 10px;
  margin: 0 10% 5% 10%;
}
form.login-form .login-error strong {
  color: red;
}
form.login-form .login-message {
  margin-bottom: 10px;
}
form.login-form .register-success strong {
  color: blue;
}

.registration-container {
  margin-top: 10%;
  padding: 20px;
  border: #8b8b8b 1px solid;
  border-radius: 10px;
}
.registration-container .login-error {
  margin-bottom: 10px;
}
.registration-container .login-error strong {
  color: red;
}
.registration-container form.registration-form {
  margin-top: 20px;
}
.registration-container form.registration-form .form-group {
  margin-bottom: 10px;
}
.registration-container form.registration-form label span#user_available {
  color: red;
}
.registration-container span.req {
  color: red;
  font-weight: bold;
}
.registration-container form#form-clinic button {
  margin-top: 10px;
  width: 100%;
}

.main-container {
  padding-top: 5vh !important;
  background-color: #cae1e7;
}
.main-container .list-table {
  padding-top: 20px !important;
}
.main-container .content-container {
  margin-top: 20px;
}
.main-container #admin-side-nav {
  background-color: #a7c3fa !important;
  margin-top: 1vh;
  height: 93vh;
  padding: 0 5px 0 5px;
}
.main-container #admin-side-nav .nav-icon {
  display: none;
}
.main-container #admin-side-nav .nav-link {
  font-weight: bold;
  margin: 5px;
}
.main-container #admin-side-nav .nav-link:hover {
  background-color: #266bd3;
  color: #ffffff !important;
}
.main-container #admin-side-nav .logout-container {
  display: none;
}
.main-container .dropdown-nav {
  cursor: pointer;
}
.main-container #clinics-collapse li,
.main-container #clients-collapse li {
  padding: 5px;
}
.main-container #clinics-collapse li a,
.main-container #clients-collapse li a {
  margin-left: 30px;
  cursor: pointer;
  padding: 5px 10px 5px 10px;
}
.main-container #clinics-collapse li a:hover,
.main-container #clients-collapse li a:hover {
  background-color: #0b35a7;
  color: #fff !important;
  font-weight: bold;
}
.main-container #appointmentsAccordion,
.main-container #searchClinicsContainer,
.main-container #createAppointmentsContainer,
.main-container #userProfileContainer,
.main-container #editAppointmentsContainer,
.main-container #clinicScheduleContainer,
.main-container #clinicLabTestContainer,
.main-container #clinicAppointmentsContainer,
.main-container #clinicProfileContainer {
  height: 90vh !important;
  overflow-x: scroll;
}
.main-container #appointmentsAccordion h1, .main-container #appointmentsAccordion h2, .main-container #appointmentsAccordion h3,
.main-container #searchClinicsContainer h1,
.main-container #searchClinicsContainer h2,
.main-container #searchClinicsContainer h3,
.main-container #createAppointmentsContainer h1,
.main-container #createAppointmentsContainer h2,
.main-container #createAppointmentsContainer h3,
.main-container #userProfileContainer h1,
.main-container #userProfileContainer h2,
.main-container #userProfileContainer h3,
.main-container #editAppointmentsContainer h1,
.main-container #editAppointmentsContainer h2,
.main-container #editAppointmentsContainer h3,
.main-container #clinicScheduleContainer h1,
.main-container #clinicScheduleContainer h2,
.main-container #clinicScheduleContainer h3,
.main-container #clinicLabTestContainer h1,
.main-container #clinicLabTestContainer h2,
.main-container #clinicLabTestContainer h3,
.main-container #clinicAppointmentsContainer h1,
.main-container #clinicAppointmentsContainer h2,
.main-container #clinicAppointmentsContainer h3,
.main-container #clinicProfileContainer h1,
.main-container #clinicProfileContainer h2,
.main-container #clinicProfileContainer h3 {
  text-align: center;
}
.main-container #appointmentsAccordion .appointment-jumbotron,
.main-container #searchClinicsContainer .appointment-jumbotron,
.main-container #createAppointmentsContainer .appointment-jumbotron,
.main-container #userProfileContainer .appointment-jumbotron,
.main-container #editAppointmentsContainer .appointment-jumbotron,
.main-container #clinicScheduleContainer .appointment-jumbotron,
.main-container #clinicLabTestContainer .appointment-jumbotron,
.main-container #clinicAppointmentsContainer .appointment-jumbotron,
.main-container #clinicProfileContainer .appointment-jumbotron {
  margin-top: 20px;
  padding: 10px;
  margin-right: 10px;
  border-radius: 10px;
  border: 1px solid grey;
  background-color: #fff !important;
}
.main-container #clinicAccordion h2, .main-container #clinicAccordion h3 {
  text-align: center;
}
.main-container .accordion-button:focus {
  background-color: #266bd3;
  color: #ffffff;
}
.main-container .accordion-button {
  background-color: #a7c3fa;
  color: #000;
}
.main-container .action-btn .btn {
  margin: 2px;
}
.main-container .photo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-container .photo-container .profile-photo {
  height: 200px;
  width: 200px;
  max-width: 200px;
  border: 1px solid grey;
  border-radius: 15px;
}
.main-container .print-details .row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-container .print-details .row img {
  border: 1px solid grey;
  height: 150px;
  width: 150px;
  border-radius: 5px;
}
.main-container .add-new-btn {
  width: 80%;
  margin: 0 auto;
}
.main-container .create-new-form {
  border: 1px solid grey;
  border-radius: 10px;
  background-color: #eee;
  margin-top: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-container .create-new-form input {
  margin-bottom: 15px;
}
.main-container .create-new-form button {
  margin-top: 5px;
}

body {
  background-color: #fff;
}

nav#main-nav-bar {
  background-color: #2b5f8a !important;
  height: 5vh;
}
nav#main-nav-bar div.container-fluid {
  display: flex;
  color: #fff;
}
nav#main-nav-bar div.container-fluid .navbar-brand strong, nav#main-nav-bar div.container-fluid .navbar-brand {
  color: #fff !important;
}

form.create-appointment-form {
  border: #8b8b8b solid 1px;
  padding: 10px;
}
form.create-appointment-form h1 {
  text-align: center;
}
form.create-appointment-form .form-group {
  margin-bottom: 10px;
}
form.create-appointment-form .form-group label {
  font-weight: bold;
}
form.create-appointment-form .form-group .form-check label {
  font-weight: normal;
}
form.create-appointment-form input[type=submit] {
  width: 100% !important;
}
form.create-appointment-form div#appointmentsAccordion * {
  color: red !important;
}
