@media screen and (max-width: 767px) {

  div#admin-side-nav {
    height: auto !important;
    overflow:auto;
  }

  div#admin-side-nav a {
    display: none;
  }

  .nav-icon {
    display: block !important;
    text-align: right;
  }

  #admin-side-nav.responsive .nav-icon {
    text-align: right !important;
  }

  div#admin-side-nav.responsive a{
    display: block !important;
    text-align: left;
  }

  .nav-link {
    margin: 0 !important;
  }

  .fc-toolbar-title {
    font-size: 1em !important;
  }

  .logout-container {
    display: block !important;
  }

  .main-container {
    padding-top: 0 !important;
  }

  #main-nav-bar {
    display: none !important;
  }
}
