.main-container
  // padding-top: 8vh !important
  background-color: $grey-2
  .list-table
    padding-top: 20px !important

  .content-container
    margin-top: 20px

  #admin-side-nav
    background-color: $grey-1 !important
    margin-top: 1vh
    height: 98vh !important
    padding: 0 5px 0 5px
  .nav-link
    font-weight: bold
    margin: 5px
    &:hover
      background-color: $blue-1
      color: #fff !important

  .dropdown-nav
    cursor: pointer

  #clinics-collapse,
  #clients-collapse
    li
      padding: 5px
      a
        margin-left: 30px
        cursor: pointer
        padding: 5px 10px 5px 10px
        
        &:hover
            background-color: $blue-2
            color: #fff !important
            font-weight: bold

  #appointmentsAccordion, 
  #searchClinicsContainer, 
  #createAppointmentsContainer,
  #userProfileContainer,
  #editAppointmentsContainer
    height: 92vh !important
    overflow-x: scroll
    h1, h2, h3
      text-align: center

  
    height: 92vh !important
    overflow-x: scroll

  #clinicAccordion
    h2, h3
      text-align: center