form.login-form {
  margin-top: 5%;
  padding: 20px;
  border: #8b8b8b 1px solid;
  border-radius: 10px;
}

form.login-form .form-group {
  margin-bottom: 10px;
}

form.login-form img {
  width: 80%;
  border: 1px #cdcdcd solid;
  border-radius: 10px;
  margin: 0 10% 5% 10%;
}

.registration-container {
  margin-top: 10%;
  padding: 20px;
  border: #8b8b8b 1px solid;
  border-radius: 10px;
}

.registration-container form.registration-form {
  margin-top: 20px;
}

.registration-container form.registration-form .form-group {
  margin-bottom: 10px;
}

.registration-container form.registration-form label span#user_available {
  color: red;
}

.registration-container span.req {
  color: red;
  font-weight: bold;
}

.registration-container form#form-clinic button {
  margin-top: 10px;
  width: 100%;
}

.main-container {
  background-color: #e4e4e4;
}

.main-container .list-table {
  padding-top: 20px !important;
}

.main-container .content-container {
  margin-top: 20px;
}

.main-container #admin-side-nav {
  background-color: #8b8b8b !important;
  margin-top: 1vh;
  height: 98vh !important;
  padding: 0 5px 0 5px;
}

.main-container .nav-link {
  font-weight: bold;
  margin: 5px;
}

.main-container .nav-link:hover {
  background-color: #001347;
  color: #fff !important;
}

.main-container .dropdown-nav {
  cursor: pointer;
}

.main-container #clinics-collapse li,
.main-container #clients-collapse li {
  padding: 5px;
}

.main-container #clinics-collapse li a,
.main-container #clients-collapse li a {
  margin-left: 30px;
  cursor: pointer;
  padding: 5px 10px 5px 10px;
}

.main-container #clinics-collapse li a:hover,
.main-container #clients-collapse li a:hover {
  background-color: #00258a;
  color: #fff !important;
  font-weight: bold;
}

.main-container #appointmentsAccordion,
.main-container #searchClinicsContainer,
.main-container #createAppointmentsContainer,
.main-container #userProfileContainer,
.main-container #editAppointmentsContainer {
  height: 92vh !important;
  overflow-x: scroll;
  height: 92vh !important;
  overflow-x: scroll;
}

.main-container #appointmentsAccordion h1, .main-container #appointmentsAccordion h2, .main-container #appointmentsAccordion h3,
.main-container #searchClinicsContainer h1,
.main-container #searchClinicsContainer h2,
.main-container #searchClinicsContainer h3,
.main-container #createAppointmentsContainer h1,
.main-container #createAppointmentsContainer h2,
.main-container #createAppointmentsContainer h3,
.main-container #userProfileContainer h1,
.main-container #userProfileContainer h2,
.main-container #userProfileContainer h3,
.main-container #editAppointmentsContainer h1,
.main-container #editAppointmentsContainer h2,
.main-container #editAppointmentsContainer h3 {
  text-align: center;
}

.main-container #clinicAccordion h2, .main-container #clinicAccordion h3 {
  text-align: center;
}

body {
  background-color: #fff;
}

nav#main-nav-bar div.container-fluid div#navbarNavDropdown ul.navbar-nav {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  -ms-flex-pack: distribute !important;
      justify-content: space-around !important;
}

nav#main-nav-bar div.container-fluid div#navbarNavDropdown ul.navbar-nav a {
  color: red !important;
}

form.create-appointment-form {
  border: #8b8b8b solid 1px;
  padding: 10px;
}

form.create-appointment-form h1 {
  text-align: center;
}

form.create-appointment-form .form-group {
  margin-bottom: 10px;
}

form.create-appointment-form .form-group label {
  font-weight: bold;
}

form.create-appointment-form .form-group .form-check label {
  font-weight: normal;
}

form.create-appointment-form input[type=submit] {
  width: 100% !important;
}

form.create-appointment-form div#appointmentsAccordion * {
  color: red !important;
}
/*# sourceMappingURL=app.css.map */