form.login-form
  margin-top: 5%
  padding: 20px
  border: $grey-1 1px solid
  border-radius: 10px
  .form-group
    margin-bottom: 10px

  img
    width: 80%
    border: 1px #cdcdcd solid
    border-radius: 10px
    margin: 0 10% 5% 10%

  .login-error
    strong
      color: red

  .login-message
    margin-bottom: 10px

  .register-success
    strong
      color: blue

.registration-container
  margin-top: 10%
  padding: 20px
  border: $grey-1 1px solid
  border-radius: 10px

  .login-error
    margin-bottom: 10px
    strong
      color: red

  form.registration-form
    margin-top: 20px
    .form-group
      margin-bottom: 10px
    label
      span#user_available
        color: red
  span.req
    color: red
    font-weight: bold

  form#form-clinic
    button
      margin-top: 10px
      width: 100%